.NavItem a {
    padding: .3rem .5rem;
    display: block;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    
}
.NavItem a.active {
    border-color: white;
}
.NavItem a:hover {
    opacity: .5;
    transform: translate(1);
  }
.NavItem a:hover::after {
    background-color: rgb(247, 241, 233);
    transform: scaleX(2);
    transition: transform 0.3s;

}
@media (max-width: 620px) {
    .Nav a {
        border-bottom: none;
        border-left: 5px solid transparent;
    }
}