.NavItem a {
    padding: .3rem .5rem;
    display: block;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    
}
.NavItem a.active {
    border-color: white;
}
.NavItem a:hover {
    background-color: rgb(247, 241, 233);

}