.Nav {
    background-color: burlywood;
    color: black;
    
}
.Nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
